@import '../../../assets/variables';

.item {
  list-style: none;
  font-size: 1.8rem;
  width: 95%;
  margin: 0 auto;
  padding: 2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__left {
    width: 40%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  &__right {
    width: 35%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    a:visited,
    a:link {
      color: blue;
    }
  }

  &__btn {
    padding: 1rem 2rem;
    border-radius: 5px;
    border: none;
    font-size: 1.8rem;
    cursor: pointer;

    &-clicked {
      background-color: $color-primary;
      color: white;
    }
  }

  &__sample {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    font-size: 2rem;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    background-color: rgba($color-wet-asphalt, 0.85);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  & + & {
    border-top: 1px solid rgba($color-wet-asphalt, 0.5);
  }

  @media (max-width: 1200px) {
    flex-direction: column;
    align-items: center;

    &__left {
      width: 100%;
    }

    &__right {
      width: 100%;
      flex-direction: column;
      align-items: flex-start;
    }

    &__btn {
      margin-top: 1rem;
      padding: 2rem;
      width: 100%;
    }
  }
}
