@import '../../assets/variables';

.form {
  background-color: white;
  padding: 2rem;
  width: 90%;
  font-size: 1.8rem;
  max-width: 500px;
  display: flex;
  margin: 2rem;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
  box-shadow: 0 1rem 4rem rgba(black, 0.2);

  &__group {
    input {
      width: 100%;
      height: 4rem;
      font-size: 1.8rem;
      padding: 0 1rem;
      border-radius: 5px;
      outline: none;
      font-family: inherit;
      border: 1px solid black;
    }

    input:focus {
      border: 2px solid $color-primary;
    }

    input:focus::placeholder {
      color: transparent;
    }

    label {
      height: 0;
      display: block;
      transform: translate(1rem, -3.3rem);
      opacity: 0;
      transition: all 0.3s;
    }

    input:focus + label {
      transform: translate(1rem, -6.6rem);
      opacity: 1;
    }

    & + & {
      margin-top: 4rem;
    }
  }

  &__title {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }

  &__btn {
    font-size: inherit;
    padding: 1rem;
    background-color: $color-primary;
    border: none;
    color: white;
    border-radius: 5px;
    display: block;
    transition: background-color 0.2s;
    cursor: pointer;
  }

  &__btn:hover {
    background-color: $color-primary-light;
  }

  &__btn:disabled {
    background-color: $color-grey-dark;
    cursor: progress;
  }

  &__link {
    margin-top: 2rem;
    text-align: center;

    a:link,
    a:visited {
      text-decoration: underline;
      color: blue;
    }
  }

  &__errorBox {
    height: 2rem;
    margin: 1rem 0;
    color: $color-carmine-pink;
    text-align: center;
  }

  @media (max-width: 1200px) {
    &__group {
      input {
        height: 6rem;
      }

      label {
        transform: translate(1rem, -4.2rem);
      }

      input:focus + label {
        transform: translate(1rem, -8.7rem);
        opacity: 1;
      }
    }

    &__btn {
      padding: 2rem;
      font-size: 2rem;
    }
  }
}

.container {
  width: 100%;
  height: calc(100vh - 7rem);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}

.disabledAnchor {
  pointer-events: none;
}
