@import '../../assets/mixins';

.list {
  @include contained;
  margin: 2rem auto;
  border-radius: 0.5rem;
  background-color: #fff;
  box-shadow: 0 1rem 4rem rgba(black, 0.3);
  position: relative;
}
