@import '../../assets/variables';
@import '../../assets/mixins';

.navbar {
  height: 7rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: $color-primary;
  color: #fff;
  box-shadow: 0 1rem 3rem rgba(#000, 0.2);

  &__container {
    @include contained;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__brand {
    display: flex;
    align-items: center;
    height: 100%;

    a {
      height: 70%;
    }

    img {
      height: 100%;
    }
  }

  &__list {
    display: flex;
    list-style: none;
    height: 100%;
    align-items: stretch;

    li {
      display: flex;
      align-items: center;
    }

    li + li {
      margin-left: 1rem;
    }

    a {
      color: $color-grey-light-1;
      font-size: 1.6rem;
      transition: all 0.2s ease-in-out;
      border-radius: 0.5rem;
      padding: 0.5rem 2rem;
    }

    a:hover {
      transform: translateY(-0.3rem);
      box-shadow: 0 1rem 2rem rgba(black, 0.2);
    }
  }

  &__border {
    border: 0.2rem solid $color-grey-light-1;
  }

  &__space {
    height: 70px;
  }
}
