@import '../../assets/variables';
@import '../../assets/mixins';

.navbar {
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: $color-primary;
  color: #fff;
  box-shadow: 0 1rem 3rem rgba(#000, 0.2);
}

.space {
  height: 70px;
}

.container {
  @include contained;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand {
  height: 80%;

  img {
    height: 100%;
  }
}

.list {
  display: flex;
  list-style: none;
  height: 100%;
  align-items: stretch;

  li {
    display: flex;
    align-items: center;

    a {
      color: $color-grey-light-1;
      font-size: 1.6rem;
      transition: all 0.2s ease-in-out;
      border-radius: 0.5rem;
      padding: 0.5rem 2rem;
    }

    a:hover {
      background-color: $color-primary-light;
    }

    & + li {
      margin-left: 2rem;
    }
  }
}

.border {
  border: 0.2rem solid $color-grey-light-1;
}
