@import '../../assets/variables';
@import '../../assets/mixins';

.navbar {
  z-index: 10;
  height: 7rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: $color-primary;
  color: #fff;
  box-shadow: 0 0.5rem 1rem rgba(#000, 0.2);

  &__container {
    @include contained;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__brand {
    display: flex;
    align-items: center;
    height: 100%;

    a {
      height: 70%;
    }

    img {
      height: 100%;
    }
  }

  &__list {
    display: flex;
    list-style: none;
    height: 100%;
    align-items: stretch;

    li {
      display: flex;
      align-items: center;
    }

    li + li {
      margin-left: 1rem;
    }

    a,
    button {
      color: $color-grey-light-1;
      font-size: 1.8rem;
      transition: all 0.2s ease-in-out;
      border-radius: 5px;
      padding: 0.5rem 2rem;
      background-color: transparent;
      cursor: pointer;
    }

    a:hover,
    button:hover {
      transform: translateY(-0.3rem);
      box-shadow: 0 1rem 2rem rgba(black, 0.2);
    }
  }

  &__space {
    height: 7rem;
  }

  &__logout {
    border: none;
  }

  &__username {
    text-transform: uppercase;
    font-weight: 700;
  }

  @media (max-width: 900px) {
    &__list {
      a,
      button {
        padding: 1rem 3rem;
      }
    }
  }
}

.border {
  border: 2px solid $color-grey-light-1;
}
